<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
    <title>About</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <img
            src="http://localhost:8001/url/i_xFCRXTc"
            class="img-fluid rounded-circle"
            alt="Profile picture"
          />
        </div>
        <div class="col-md-6">
          <h2 class="mb-4">About Me</h2>
          <p>
            I am a MERN stack developer with over 5 years of experience in
            building scalable and high-performance web applications. My
            expertise includes building RESTful APIs, integrating third-party
            services, and optimizing website performance.
          </p>
          <p>
            I am passionate about learning new technologies and keeping
            up-to-date with industry trends. I believe in using a data-driven
            approach to solve complex problems and delivering exceptional
            results.
          </p>
          <div class="mt-5">
            <a
              href="https://www.linkedin.com/in/gautamvaishnav"
              class="btn btn-primary me-3" target="_blank"
              ><i class="fab fa-linkedin"></i> LinkedIn</a
            >
            <a href="https://github.com/gautamvaishnav-git" target="_blank" class="btn btn-secondary"
              ><i class="fab fa-github"></i> GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
